body{
    background-color:black;
    background-image: url("./gameImages/TableBackground.png");
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

button{
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 0 3px 3px;
    border: none;
    border-radius: 10px;
}

.container{
    margin:auto;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", Helvetica, sans-serif;
    color: white;
    font-weight: bold;
}

.container h1{
    font-size: 50px;
    font-weight: bolder;
    color:goldenrod;
}

.container p{
    font-size:25px;
}

.container button{

    color: rgba(001,111,50,0.80);
    background-color:goldenrod;

    font-size: 25px;
    font-weight: inherit;

}

#message-el{
    font-style: italic;
}
