body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 300px;
    min-height: 400px;
}

ul {
    color: #5f9341;
    list-style: none;
    margin-left: 0;
    padding-left: 5px;
}

li {
    font-size: 18px;
    margin-top: 2px;
}

a {
    color: #5f9341;
}

input {
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 2px #5f9341 solid;
    border-radius: 1px;
}

button {
    margin: 3px 0;
    padding: 10px 10px;
    border-radius: 1px;
    font-weight: bolder;
}

.txt-fld{
    color: #5f9341;
}

.txt-fld button{
    border: 2px #5f9341 solid;
}

.txt-fld #input-btn{
    color: white;
    background-color: #5f9341;
}

.txt-fld #delete-btn{
    color: #5f9341;
    background-color: white;

}

